---
layout : "default"
---

{% include header-sm.html %}

<section>
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-8">
        <ul class="list-unstyled">
          {% for post in site.posts %}
            <div class="post-preview">
              <li>
                <a class="text-decoration-none" href="post.html">
                  <h2>{{ post.title }}</h2>
                  <h3>{{ post.subtitle}}</h3>
                  <p>Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y"  }}</p>
                </a>
              </li>
            </div>
          {% endfor %}
        </ul>
        
      </div>
    </div>
  </div>
</section>